body {
    margin: 0;
    padding: 0;
}

main{
    padding: 16;
}

footer{
    padding: 15px;
    background-color: seagreen;
    text-align: left;
    font-size: large;
}

img{
    height: 150px;
}

header {
    background-color: lavender;
    padding: 15px;
}

nav{
    border-bottom: 2px solid palevioletred;
}

.taco-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.taco-grid:hover {
    box-shadow: 0 2px 4px  rgba(245, 224, 199, 0.858);
}

a {
    color: mediumseagreen;
    text-decoration: none;
}

h1 {
    color: darkgreen;
}

tr:nth-child(even) {
    background-color: peachpuff;
}
